<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>THE MARKETPLACE!</title>

  <!-- JAVASCRIPT FILES -->
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>



  <!-- CSS STYLE SHEETS -->
  <!-- Reset CSS -->
  <link href="/styles/reset.css" rel="stylesheet">
  <!-- Bootstarp CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">


  <!-- Bootstrap JS CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>


  <!-- Bootstrap Font Awesome CDN -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px|Source+Serif+Pro" rel="stylesheet">

  <!-- Personal CSS Stylesheet -->
  <link href="/styles/hover.css" rel="stylesheet">
  <link href="/styles/style.css" rel="stylesheet">

</head>

<body>
  <!-- JUMBOTRON -->
  <div class="jumbotron  jumbotron-fluid jumboHome">
    <div class="container">
      <h1 class="display-4">THE MARKETPLACE</h1>
      <p class="lead">Where peolpe come to sell, buy and discover great finds!</p>
    </div>
  </div>
  {{{body}}}
</body>

</html>