<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Marketplace</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body id="createAccountBody">

  <div id="signUp" class="container">
    <form id="createAccount" method="POST" action="/api/posts/createUser" onsubmit="return submitUserForm();">

      <div id="signUpForm" class="form-group">
        <h1 id="signUpHead">Marketplace</h1>
        <br>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="First_Name" required>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="Last_Name" required>
          </div>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="emailAddress" placeholder="E-Mail" name="Email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" placeholder="Password" required>
        </div>

        <div class="g-recaptcha" data-sitekey="6LdhGnQUAAAAANhiv4gD23f9sUZIs1oP5HCycswu" data-callback="verifyCaptcha"></div>
        <div id="g-recaptcha-error"></div>

        <div id="loginButton">
          <input type="submit" name="submit" value="Create Account" id="enter" class="btn btn-primary" />
          <a id="return" class="btn btn-primary" href="index.html">Back</a>
        </div>

        <!-- <button class="btn" id="btn-validate">Validate reCAPTCHA</button> -->

        <!-- <div id="loginButton">
          <div id="enter" class="btn btn-primary" class="btn" id="btn-validate">Create Account</div>
          <a id="return" class="btn btn-primary" href="index.html">Back</a>
        </div> -->
      </div>
    </form>
  </div>


  <footer class="footer">
    <div class="container">
      <span>Marketplace - Buy, Sell, Discover</span>
    </div>
  </footer>
  <script src="../javascript/firebase.js"></script>
  <!-- <script src="../javascript/captcha.js"></script> -->

  <script>
    function submitUserForm() {
      var response = grecaptcha.getResponse();
      if (response.length == 0) {
        document.getElementById('g-recaptcha-error').innerHTML = '<span style="color:red;">This field is required.</span>';
        return false;
      }
      return true;
    }

    function verifyCaptcha() {
      document.getElementById('g-recaptcha-error').innerHTML = '';
    }
  </script>

</body>

</html>