<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Marketplace</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700" rel="stylesheet">

</head>

<body id="feedbackBody">

  <header>
    <a class="navbar-brand">Marketplace</a>
    <div class="insertNav" id="nav">
      <!-- Nav will get filled in here-->
    </div>
  </header>
  <div id="main">
    <!-- container for feedback table -->

    <table id="feedbackTable" class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Date</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
      <tbody>
        <!-- feedback to be filled in here -->
      </tbody>
    </table>


    <!-- container for form -->


    <form id="opinions">
      <h1 id="feedbackHead">Have your say</h1>
      <br>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label id="datePostedP" for="datePosted">Date Posted</label>
          <input type="date" class="form-control" id="datePosted" placeholder="Today's Date">
        </div>
        <div class="form-group col-md-4">
          <label id="datePostedP" for="firstNameP">First Name</label>
          <input type="text" class="form-control" id="firstNameP">
        </div>
        <div class="form-group col-md-4">
          <label id="lastNameP" for="lastNameP">Last Name</label>
          <input type="text" class="form-control" id="lastNameP">
        </div>
      </div>

      <div class="form-group">
        <label id="feedbackP" for="feedback">How was your experience using Marketplace?</label>
        <input type="text" maxlength="500" class="form-control" id="feedback">
      </div>

      <div id="loginButton">
        <button id="enter" type="submit" class="btn btn-primary">Share</button>

      </div>
    </form>

  </div>

  <footer class="footer">
    <div class="container">
      <span>Marketplace - Buy, Sell, Discover</span>
    </div>
  </footer>

</body>

</html>