<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center" id="top-bar">
      <h1>Products for Sale</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>IS THIS WORKING</h1>
      {{products_data}}
      console.log(products_data);
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h2>Section 2 of Index</h2>

    </div>
  </div>
</div>