<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Marketplace</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700" rel="stylesheet">

  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>

</head>


<body>
  <header>
    <a class="navbar-brand" href="/">Marketplace</a>
    <div class="insertNav" id="nav">
      <!-- Nav will get filled in here-->
    </div>
  </header>
  <br>

  <form id="categorylist" action="/api/posts/category" method="GET">
    <input list="category" name="category">
    <datalist id="category">
      <option value="electronics">
      <option value="Furniture">
      <option value="Homedecore">
      <option value="Cars">
      <option value="Hardware">
    </datalist>
    <input type="submit">
  </form>

  <div id="homepage" class="container">

    <div class="row main">
      <div id="indexImage" class="col-sm-4">

        <img src="../styles/assets/images/cottage.jpg" alt="cottage" width="200" height="200">
      </div>
      <div class="col-sm-8 information">
        <div class="row">
          <div class="col title">Muskoka Cottage</div>
        </div>
        <div class="row">
          <div class="col description">Beautiful cottage on Lake Muskoka</div>
        </div>
        <br>
        <div class="row">
          <div class="col category">Properties</div>
        </div>
        <div class="row">
          <div class="col readMore"><a href="#">Read More</a></div>
        </div>
        <br>
        <div class="row">
          <div class="col price">Price:$300,000</div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <span>Marketplace - Buy, Sell, Discover</span>
    </div>
  </footer>


  <script src="../javascript/loadIndex.js"></script>

  <script src="../javascript/firebase.js"></script>
</body>

</html>