<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Marketplace</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>

</head>

<body id="loginBody">

  <div id="loginPage" class="container">
    <form id="login">

      <div id="loginForm" class="form-group">
        <h1 id="loginHead">Marketplace</h1>
        <br>
        <input type="email" class="form-control" id="emailAddressL" placeholder="E-Mail">
        <br>
        <input type="password" class="form-control" id="passwordL" placeholder="Password">
        <br>
        <div id="loginButton">

          <a id="return" class="btn btn-primary" href="index.html">Back</a>
          <button id="lgnn" class="btn btn-primary">Login</button>

        </div>
      </div>
    </form>
  </div>


  <footer class="footer">
    <div class="container">
      <span>Marketplace - Buy, Sell, Discover</span>
    </div>
  </footer>
  <script src="../javascript/firebase.js"></script>
</body>

</html>