<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Marketplace</title>
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Charmonman:400,700" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
 
</head>

<body id="postAdBody">

  <header>
    <a class="navbar-brand" href="/">Marketplace</a>
    <div class="insertNav" id="nav">
      <!-- Nav will get filled in here-->
    </div>
  </header>

  <div id="postAdPage" class="container">
    <form id="postAd" method="POST" action="/api/posts/createPost">

      <div id="postAdForm" class="form-group">
        <h1 id="postAdHead">Marketplace</h1>
        <br>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label id="firstNameP" for="firstNameP">First Name</label>
            <input type="text" class="form-control" id="firstNameP" name="First_Name">
          </div>
          <div class="form-group col-md-6">
            <label id="lastNameP" for="lastNameP">Last Name</label>
            <input type="text" class="form-control" id="lastNameP" name="Last_Name">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label id="image" for="productImage">Product Image</label>
            <input type="file" class="form-control" id="productImage" name="image">
          </div>
          <div class="form-group col-md-6">
            <label id="price" for="price">Price</label>
            <input type="number" min="0" step="0.01" data-number-to-fixed="2" data-number-stepfactor="100" class="form-control currency"
              id="c2" name="price">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label id="titleP" for="titleP">Title</label>
            <input type="text" class="form-control" id="titleP" name="title">
          </div>
          <div class="form-group col-md-6">
            <label id="categoryP" for="categoryP">Category</label>
            <input type="text" class="form-control" id="titleP" name="category">
          </div>
        </div>

        <div class="form-row" style="display:none;">
          <div class="form-group col-md-6">
            <label id="emailP" for="emailP">Email</label>
            <input type="text" class="form-control" id="emailIDLink" name="email">
          </div>
        </div>

        <div class="form-group">
          <label id="descriptionP" for="description">Provide a short description of your product</label>
          <input type="text" maxlength="250" class="form-control" id="description" name="description">
        </div>

        <div id="loginButton">
          <button id="enter" type="submit" class="btn btn-primary">Post my Ad</button>

        </div>
      </div>
    </form>

  </div>

  <footer id="postAdFooter" class="footer">
    <div class="container">
      <span>Marketplace - Buy, Sell, Discover</span>
    </div>
  </footer>
  <script src="../javascript/firebase.js"></script>

</body>

</html>